@font-face {
  font-family: neu;
  src: url(./neue-haas-font/NeueHaasDisplayBlack.ttf);
}
:root {
  --Primery-color: #efeae3;
  --secondry-color: #eee;
  --therd-color: #1e1d1d;
  --black: #000000;
  --white: #fff;
  --banner-border: #0000003c;
  --orange-color: #fe320a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--Primery-color);
  position: relative;
  padding: 0 2vw;
}
/* Navbar css */
nav {
  padding: 2vw 0vw;
  width: 100%;
  /* background-color: var(--secondry-color); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid rgba(37, 37, 37, 0.819);
  border-radius: 50px;
  font-weight: 500;
  color: var(--therd-color);
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
#nav-part2 h4 a {
  color: var(--black);
  text-decoration: none;
  position: relative;
  z-index: 9;
}
#nav-part2 h4:hover a {
  color: var(--white);
}

/* ========================================================= */
/* Banner center Page */
/* ========================================================= */
#center {
  height: 65vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.5vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#center h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}

#page1 video {
  width: 100%;
  position: relative;
  margin-top: 4vw;
  border-radius: 20px;
}
/* ========================================================= */
/* animation div  */
/* ========================================================= */
#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 65vh;
}

#hero1 {
  height: 100%;
  width: 100%;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: var(--orange-color);
  filter: blur(40px);
}

#hero2 {
  background: linear-gradient(#fe320a, #fe3f0a);

  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(30px);
}

#hero3 {
  background: linear-gradient(#fe320a, #fe3f0a);
  height: 30vw;
  position: absolute;
  width: 30vw;
  border-radius: 50%;
  filter: blur(30px);
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }

  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}

/* ========================================================= */
/* middel page */
/* ========================================================= */
#page2 {
  padding: 8vw 0;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--Primery-color);
}
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
.con {
  display: inline-block;
  white-space: nowrap;
  animation-name: movetext;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

#gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe320a;
  margin: 1vw 2vw;
}

@keyframes movetext {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

/* ========================================================= */
/* Page2 secotion 2 */
/* ========================================================= */

#page2-bottom {
  height: 80vh;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 55%;
  line-height: 4vw;
}
#bottom-part2 {
  width: 20%;
}
#bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}
#bottom-part2 p {
  font-weight: 200;
  margin-top: 2vw;
  font-size: 1vw;
}

#page2 #gooey {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);

  top: 58%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

/* #circle1 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #fe3f0a;
} */
@keyframes gooey {
  from {
    filter: blur(10px);
    transform: translate(10%, -10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-15deg);
  }
}

/* ========================================================= */
/* Page 3  */
/* ========================================================= */

#page3 {
  width: 100%;
  min-height: 80vh;
  background-color: var(--Primery-color);
  padding: 4vw 0;
}

#sec {
  display: flex;
  align-items: center;
  padding: 3vw 2vw;
}
#gol {
  width: 20px;
  height: 20px;
  background-color: #fe3f0a;
  border-radius: 50%;
  margin-right: 10px;
}

.elem {
  height: 100px;
  width: 100%;
  position: relative;
  /* background-color: orange; */
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  overflow: hidden;
  border-bottom: 1px solid var(--therd-color);
}
.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}
.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
}

.elem:hover .overlay {
  top: 0;
}

#fixed-image {
  height: 30vw;
  width: 24vw;
  border-radius: 10px;
  position: fixed;
  z-index: 9;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}

/* ========================================= */
/* Page4 */
/* ========================================= */
#page4 {
  min-height: 80vh;
  width: 100%;
  padding: 4vw 0;
  position: relative;
}

#black-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  border-radius: 21px;
  margin: 0vw 2vw;
}

#tabs {
  position: relative;
  border-left: 2px solid #504a45;
  padding: 2vw 0vw;
}

#tab-sec {
  color: rgb(239, 234, 227);
  display: flex;
  flex-direction: column;
  padding: 0px 9vw;
  gap: 14px;
  padding: 0vw 9vw;
}

#tab-sec h2 {
  font-size: 4.5vw;
  font-weight: bolder;
  position: relative;
  cursor: pointer;
  color: rgb(80, 74, 69);
}

#desc {
  display: block;
  unicode-bidi: isolate;
}

#page4-img {
  width: 60%;
  height: 100%;
  background-size: cover;
  border-radius: 21px;
}
